<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="ConnStringLocal"
    providerName="System.Data.SqlClient"
    connectionString="Server=localhost;Database=Academia; User=net; Password=net;"/>
  <add name="ConnStringExpress"
    providerName="System.Data.SqlClient"
    connectionString="Server=localhost\SQLEXPRESS;Database=Academia;
    Integrated Security=false; User=net; Password=net;"/>
  <add name="ConnStringServerISI"
    providerName="System.Data.SqlClient"
    connectionString="Server=serverisi; Database=Academia; Integrated
    Security=false; User=net; Password=net;"/>
  <add providerName="Sql.Data.SqlClient" name="ConnStringLocal" 
    connectionString="Server:lolcalhost;DataBase:Academia;User:net;Password:net;" />
  </connectionStrings>
</configuration>